@font-face {
  font-family: 'Book Antiqua';
  src: url('bookantiqua.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Book Antiqua';
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.1rem;
}