/* @font-face {
  font-family: 'Book Antiqua';
  src: url('bookantiqua.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
} */

@font-face {
  font-family: 'Book Antiqua';
  src: url('book-antiqua.woff2') format('woff2'),
       url('book-antiqua.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: 'Book Antiqua';
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.1rem;
}